.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.colour-card {
  padding: 2.5rem 5rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.card-hex {
  font-weight: 300;
}

.card-percentage {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
}
